docytpe
html(lang="es")
	head
		meta(charset="UTF-8")
		title Challenge
	body
		h1 Challenge
			each val, index in ['243, 229, 245', '225, 190, 231', '206, 147, 216', '186, 104, 200', '171, 71, 188', '156, 39, 176', '142, 36, 170', '123, 31, 162', '106, 27, 154', '74, 20, 140']
				div(style={
                    'background-color': 'rgb('+val+')', 
			        height: '60px',
                    'text-indent': '-9999px',
                })= index